.App-header {
  display: flex;
  background-color: #EC6818;
  height: 50px;
  line-height: 50px;
  color: white;
  padding: 0 20px;
}

.App-title {
  font-size: 18px;
  width: 200px;
  flex: 0 0 auto;
}

.App-header .des {
  flex: 1;
}

.App-intro {
  width: 80%;
  margin: 0 auto;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
