body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrap{
    width: 100%;
    padding: 20px 50px;
    box-sizing: border-box;
}
#form-gra{
    border-radius: 20px;
    padding: 30px;
    display: table;
    vertical-align: middle;
}
#form-gra form,#form-gra select{
    display: inline-block;
    margin-left: 50px;
}
form label{
    margin-left: 20px;
}
input[type="radio"]{
    margin-left: 0px;
}
#form-gra select{
    width: 100px;
    height: 30px;
    margin-left: 10%;
}
#form-gra select option{
    text-indent: 3px;
}